ul {
  display: flex;
  flex-direction: column;
  padding-left: 0.6em;
}

li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.footer-col {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--blue);
  font-size: 12px;
  width: 100%;
  background-color: blue;
}

.footer-header {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 900;
  margin-top: -0.1em;
  margin-bottom: 0.6em;
}
