@import 'https://fonts.googleapis.com/css?family=Arvo&display=swap';

nav.main-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 0 20px 0;
  text-align: center;
  font-size: 16px;
}
nav.main-navbar > a {
  border-left: 2px solid #3ca0e7;
  text-align: center;
  text-decoration: none;
  text-align: center;
  font-family: arvo;
  color: black;
  width: 120px;
}
nav.main-navbar a:hover {
  color: #3ca0e7;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: underline;
}
nav.main-navbar a:nth-last-child(1) {
  border-right: 2px solid #3ca0e7;
}

.header-header {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.searchbar {
  width: 80vw;
  display: flex;
  justify-content: center;
  margin: auto;
}

.searchbar--input {
  height: 1em;
  display: flex;
  justify-content: center;
  border-radius: 2em;
  text-align: center;
}
